{% extends "merovingian/modules/list.html" %}

{% load i18n %}

{% block page_title %}
{{ block.super }}
| {{ module }}
{% endblock %}

{% block breadcrumb %}
{{ block.super }}
{% if module %}
  &raquo; <a href="{% url apps.merovingian.views.module.edit sgroup.id module.id %}">{% trans "Module" %}: {{ module }}</a>
{% else %}
  &raquo; <a href="{% url apps.merovingian.views.module.add sgroup.id %}">{% trans "Add new module" %}</a>
{% endif %}
{% endblock %}

{% block content %}
<div id="module_form">
  {% if module %}
    <form action="{% url apps.merovingian.views.module.edit sgroup.id module.id %}" method="post">
  {% else %}
    <form action="{% url apps.merovingian.views.module.add sgroup.id %}" method="post">
  {% endif %}
  {% csrf_token %}
  <table class="table_0">
    <thead>
      <tr>
	<td class="left" colspan="2">{% trans "Module attributes" %}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="label left">{% trans "Name" %}:</td>
        <td>{{ module_form.errors.name }} {{ module_form.name }}</td>
      </tr>
      <tr>
        <td class="label left">Kod:</td>
        <td>{{ module_form.errors.code }} {{ module_form.code }}</td>
      </tr>
      <tr>
	<td class="label left">{% trans "ECTS" %}:</td>
	<td>{{ module_form.errors.ects }} {{ module_form.ects }}</td>
      </tr>
      <tr>
	<td class="label left">{% trans "Type" %}:</td>
	<td>{{ module_form.errors.type }} {{ module_form.type }}</td>
      </tr>
      <tr>
	<td class="label left">{% trans "Active" %}:</td>
	<td>{{ module_form.is_active }}</td>
      </tr>
    </tbody>
  </table>

  {{ module_properties_formset.management_form }}
  {% if module_properties %}
  <div class="spacer_10"></div>
  {{ module_properties_formset.non_field_errors }}
  <table class="table_0">
    <thead>
      <tr>
		<td class="semester">{% if sgroup.course.years %}{% trans "Year" %}{% else %}{% trans "Semester" %}{% endif %}</td>
        <td class="hours">{% trans "Number of hours" %}</td>
		<td class="ects">ECTS</td>
        <td class="type">{% trans "Type" %}</td>
        {% if perms.merovingian.delete_module_properties %}
			<td class="center delete">{% trans "Delete" %}</td>
        {% endif %}
	<td></td>
      </tr>
    </thead>
    {% for form in module_properties_formset.forms %}
    <tbody>
      <tr>
	<td class="semester">{{ form.id }} {{ form.errors.semester }} {{ form.semester }}</td>
        <td class="hours">{{ form.errors.hours }} {{ form.hours }}</td>
	<td class="ects">{{ form.errors.ects }} {{ form.ects }}</td>
        <td class="type">{{ form.errors.type }} {{ form.type }}</td>
        {% if perms.merovingian.delete_module_properties %}
	<td class="delete">{{ form.DELETE }}</td>
        {% endif %}
	<td></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% endif %}

  <div class="spacer_10"></div>

  {{ subject_formset.management_form }}
  <table class="table_0">
    <thead>
      <tr>
		<td class="left subject">{% trans "Subject" %}</td>
        <td class="left subject">Kod</td>
		<td class="left semester">{% if sgroup.course.years %}{% trans "Year" %}{% else %}{% trans "Semester" %}{% endif %}</td>
		<td class="left hours">{% trans "Number of hours" %}</td>
		<td class="left ects">{% trans "ECTS" %}</td>
		<td class="left type">{% trans "Type of classes" %}</td>
		<td class="left assessment">{% trans "Type of pass" %}</td>
		<td class="center is_active">{% trans "Active" %}</td>
	    {% if perms.merovingian.delete_module %}
			<td class="center delete">{% trans "Delete" %}</td>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for form in subject_formset.forms %}
    <tr>
      <td class="subject">{{ form.id }} {{ form.errors.name }} {{ form.name }}</td>
        <td class="code">{{ form.errors.code }} {{ form.code }}</td>
      <td class="semester">{{ form.errors.semester }} {{ form.semester }}</td>
      <td class="hours">{{ form.errors.hours }} {{ form.hours }}</td>
      <td class="ects">{{ form.errors.ects }} {{ form.ects }}</td>
      <td class="type">{{ form.errors.type }} {{ form.type }}</td>
      <td class="assessment">{{ form.errors.assessment }} {{ form.assessment }}</td>
      <td class="is_active">{{ form.errors.is_active }} {{ form.is_active }}</td>
      {% if perms.merovingian.delete_module %}
      <td class="delete">{{ form.DELETE }}</td>
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="spacer_10"></div>

  <div class="bar_0">
    <button class="button_2" type="submit" name="action" value="save_and_edit">{% trans "Save and stay on this page" %}</button>
    <button class="button_2" type="submit" name="action" value="save">{% trans "Save and return to the list" %}</button>
  </div>
  </form>
</div>
{% endblock %}
