{% extends "column_1.html" %}

{% load i18n %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}merovingian/css/style.css" type="text/css" />
{% endblock %}

{% block horizontal_menu_items %}
{% if request.user.get_profile.merovingianadmin or request.user.is_superuser %}
<li><a href="{% url apps.merovingian.views.management.index %}">{% trans "Courses Management" %}</a></li> 
{% endif %}
<li><a href="{% url apps.merovingian.views.index %}">{% trans "Courses" %}</a></li>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer_version %}
Merovingian {{ VERSION_MEROVINGIAN }}
{% endblock %}
