{% extends "merovingian/profile/show.html" %}

{% load i18n %}

{% block page_title %}
{{ block.super }}
| {{ course }}
{% endblock %}

{% block breadcrumb %}
{{ block.super }}
&raquo; <a href="{% url apps.merovingian.views.profile.edit course.id %}">{% trans "Edit profile" %}</a>
{% endblock %}

{% block content %}
<div id="">
  <form action="{% url apps.merovingian.views.profile.edit course.id %}" method="post">
  {% csrf_token %}
  {{ form.course }}
  <table class="table_0">
    <tbody>
      <tr>
		<td class="title" colspan="2">
			<h2>{{ course.name }}: {% trans "Edit degree profile" %}</h2>
		</td>
      </tr>
    </tbody>
  </table>
  
  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td colspan="2">{% trans "Degree details" %}</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
      	<td style="width: 20%;">{% trans "Type of degree & length" %}</td>
      	<td>
      		{{ form.type_length }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Intitution(s)" %}</td>
      	<td>
      		{{ form.institutions }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Accreditation organisation(s)" %}</td>
      	<td>
      		{{ form.accreditation_organisations }}
      	</td>
      </tr>
    </tbody>
  </table>
  
  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td>{% trans "Purpose" %}</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
      	<td>
      		{{ form.purpose }}
      	</td>
      </tr>
    </tbody>
  </table>
  
  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td colspan="2">{% trans "Characteristics" %}</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
      	<td style="width: 20%;">{% trans "Discipline(s) / Subject Area(s)" %}</td>
      	<td>
      		{{ form.disciplines }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "General / Specialists focus" %}</td>
      	<td>
      		{{ form.focus }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Orientation" %}</td>
      	<td>
      		{{ form.orientation }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Distinctive features" %}</td>
      	<td>
      		{{ form.distinctive_features }}
      	</td>
      </tr>
    </tbody>
  </table>
  
  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td colspan="2">{% trans "Employability & Further education" %}</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
      	<td style="width: 20%;">{% trans "Employability" %}</td>
      	<td>
      		{{ form.employability }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Further studies" %}</td>
      	<td>
      		{{ form.further_studies }}
      	</td>
      </tr>
    </tbody>
  </table>
  
  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td colspan="2">{% trans "Education style" %}</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
      	<td style="width: 20%;">{% trans "Learning & teaching approaches" %}</td>
      	<td>
      		{{ form.teaching_approaches }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Assessment methods" %}</td>
      	<td>
      		{{ form.assessment_methods }}
      	</td>
      </tr>
    </tbody>
  </table>

  <div class="spacer_10">&nbsp;</div>

  <div class="bar_0">
    <button class="button_2" type="submit" name="action" value="save">{% trans "Save" %}</button>
  </div>
  </form>
</div>
{% endblock %}
