{% extends "merovingian/base.html" %}

{% load i18n %}

{% block page_title %}
{{ block.super }}
| {% trans "Curriculum" %}
{% endblock %}

{% block breadcrumb %}
<a href="{% url apps.merovingian.views.profile_list %}">{% trans "Degree Profiles" %}</a>
{% endblock %}

{% block content %}
<section>
  
  {% load search %}
  {% search search_form request.path %}
  
  <div class="spacer_10"></div>

  <table class="table_0">
    <thead>
      <tr>
		<td class="left course">{% trans "Course" %}</td>
      </tr>
    </thead>
    <tbody>
      {% for p in profiles_page.object_list %}
      <tr class="{% cycle 'odd' 'even' %}">
	<td class="left">
	  <a class="link_0" href="{% url apps.merovingian.views.profile_show p.course.id %}">{{ p }}</a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="spacer_10"></div>
  
  {% load paginator %}
  {% paginator profiles_page %}

</section>
{% endblock %}
