{% extends "merovingian/courses/show.html" %}

{% load i18n %}

{% block page_title %}
{{ block.super }}
| {{ course }}
{% endblock %}

{% block breadcrumb %}
{{ block.super }}
&raquo; <a href="{% url apps.merovingian.views.profile.show course.id %}">{% trans "Degree Profile" %}</a>
{% endblock %}

{% block content %}
<div id="">

  <table class="table_0">
    <tbody>
      <tr>
		<td class="title" colspan="2">
			<h2>{{ course.name }}: {% trans "Degree profile" %}</h2>
			
	    	{% if perms.merovingian.change_coursedegreeprofile %}
	    	{% if user_can_edit_profile %}
				<a href="{% url apps.merovingian.views.profile.edit course.id %}" class="link_0">{% trans "Edit degree profile" %}</a>
			{% endif %}
			{% endif %}
		</td>
      </tr>
    </tbody>
  </table>
  
  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td colspan="2">{% trans "Degree details" %}</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
      	<td style="width: 20%;">{% trans "Type of degree & length" %}</td>
      	<td>
      		{{ degree_profile.type_length|linebreaks }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Intitution(s)" %}</td>
      	<td>
      		{{ degree_profile.institutions|linebreaks }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Accreditation organisation(s)" %}</td>
      	<td>
      		{{ degree_profile.accreditation_organisations|linebreaks }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Period of reference" %}</td>
      	<td>
      		{% if course.is_annual %}
      			{% blocktrans with start_date=course.start_date years=course.years %}
      			Programme offered on <strong>{{start_date}}</strong> for <strong>{{years}} years</strong>.
      			{% endblocktrans %}
      		{% else %}
      			{% blocktrans with start_date=course.start_date semesters=course.semesters %}
      			Programme offered on <strong>{{start_date}}</strong> for <strong>{{semesters}} semesters</strong>.
      			{% endblocktrans %}
      		{% endif %}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Level" %}</td>
      	<td>
      		{{ course.level.name }}
      	</td>
      </tr>
    </tbody>
  </table>
  
  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td>{% trans "Purpose" %}</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
      	<td>
      		{{ degree_profile.purpose|linebreaks }}
      	</td>
      </tr>
    </tbody>
  </table>
  
  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td colspan="2">{% trans "Characteristics" %}</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
      	<td style="width: 20%;">{% trans "Discipline(s) / Subject Area(s)" %}</td>
      	<td>
      		{{ degree_profile.disciplines|linebreaks }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "General / Specialists focus" %}</td>
      	<td>
      		{{ degree_profile.focus|linebreaks }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Orientation" %}</td>
      	<td>
      		{{ degree_profile.orientation|linebreaks }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Distinctive features" %}</td>
      	<td>
      		{{ degree_profile.distinctive_features|linebreaks }}
      	</td>
      </tr>
    </tbody>
  </table>
  
  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td colspan="2">{% trans "Employability & Further education" %}</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
      	<td style="width: 20%;">{% trans "Employability" %}</td>
      	<td>
      		{{ degree_profile.employability|linebreaks }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Further studies" %}</td>
      	<td>
      		{{ degree_profile.further_studies|linebreaks }}
      	</td>
      </tr>
    </tbody>
  </table>
  
  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td colspan="2">{% trans "Education style" %}</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
      	<td style="width: 20%;">{% trans "Learning & teaching approaches" %}</td>
      	<td>
      		{{ degree_profile.teaching_approaches|linebreaks }}
      	</td>
      </tr>
      
      <tr>
      	<td>{% trans "Assessment methods" %}</td>
      	<td>
      		{{ degree_profile.assessment_methods|linebreaks }}
      	</td>
      </tr>
    </tbody>
  </table>

  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td colspan="{{ categories_list|length }}">{% trans "Programme Learning Outcomes" %}</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
      	{% for course_effect in course_effects %}
			<td>
				<strong>{{ course_effect.category.name|title }}</strong><br />
			</td>
      	{% endfor %}
      </tr>
      <tr>
      	{% for course_effect in course_effects %}
			<td>
				{% trans "Student" %}:<br />
				<ul>
					{% for effect in course_effect.effects %}
						<li>{{ effect.description }}</li>
					{% endfor %}
				</ul>
			</td>
      	{% endfor %}
      </tr>
    </tbody>
    
  </table>
  
  <div class="spacer_10">&nbsp;</div>

  <table class="table_0 list">
    <thead>
      <tr>
		<td colspan="{{ categories_list|length }}">{% trans "Programme Competences" %}</td>
      </tr>
    </thead>
    
    <tbody>
    	
    	{% for module_effects in modules_effects %}
    		<tr class="highlight">
    			<td colspan="{{ categories_list|length }}"><strong>{{ module_effects.module.name }}</strong></td>
    		</tr>
    	
    		<tr>
		      	{% for module_effect in module_effects.effects %}
					<td>
						<strong>{{ module_effect.category.name|title }}</strong><br />
					</td>
		      	{% endfor %}
		      </tr>
		      <tr>
		      	{% for module_effect in module_effects.effects %}
					<td>
						{% if module_effect.effects|length > 0 %}
							{% trans "Student" %}:<br />
							<ul>
								{% for effect in module_effect.effects %}
									<li>{{ effect.description }}</li>
								{% endfor %}
							</ul>
						{% else %}
							---
						{% endif %}
					</td>
		      	{% endfor %}
		      </tr>
    	
    	{% endfor %}
    	
    </tbody>
    
  </table>

</div>
{% endblock %}
