{% extends "merovingian/base.html" %}

{% block breadcrumb %}
{{ block.super }}
{% endblock %}

{% block content %}
<div id="news">
<table class="table_0">
  <tbody>
    {% for n in news %}
    <tr>
      <td class="date">{{ n.date }}</td>
      <td class="text">{{ n.text|safe }}</td>
    </tr>  
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
